.expertise{
	.services-list {
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: repeat(2, 1fr);

	    .service-item {
	    	padding: 30px 23px 40px 33px;
	    	text-align: center;
	    	border-right: 1px solid rgba(0, 0, 0, 0.2);
	    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	    	&:nth-child(3n) {
	    		border-right: none;
	    	}

	    	&:nth-child(4n) {
	    		border-bottom: none;
	    	}

	    	&:nth-child(5n) {
	    		border-bottom: none;
	    	}

	    	&:nth-child(6n) {
	    		border-bottom: none;
	    	}

	    	.service-logo {
	    		margin: 0 auto 35px;
	    		width: 50px;
	    		height: 50px;

	    		img {
	    			width: auto;
	    			height: 100%;
	    		}
	    	}

	    	.service-title {
	    		margin-bottom: 25px;
	    		font-family: 'Roboto', sans-serif;
	    		font-size: 14px;
	    		font-weight: 900;
	    		letter-spacing: 0.7px;
	    		text-transform: uppercase;
	    		color: #413d4b;
	    	}

	    	.service-description {
	    		font-family: 'Roboto', sans-serif;
	    		font-size: 14px;
	    		line-height: 1.6;
				letter-spacing: 0.4px;
				color: rgba(51, 51, 51, 0.75);
	    	}
	    }
	}
}